body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
}


.header{
    padding: 8px;
    display: flex;
    margin: 0;
}

.header__heading {
    text-decoration: none;
    color: #000;
}

.login{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    padding: 5px 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #71100F;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.register {
    color: #000;
    font-size: 12px;
}

.login__heading {
    margin-bottom: 20px;
}

.login__form {
    margin: auto;
    width: 475px;
    margin-bottom: 20px;
}

.login__form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.login__form Button {
    margin-top: 10px;
}

.login__form div input {
    padding: 4px 8px;
    margin: 0 0.5em;
    font-size: 1em;
    width: 350px;
}

.add{
    display:flex;
    flex-direction: column;
}
.add>p{
    margin-bottom: 5px;
}

.addButton{
    height: 30px;
    width: 210px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
}